<<<<<<< HEAD
/* Resetowanie stylów przeglądarki */
* {
  margin: 0;
  padding: 0;
=======
/* Resetowanie stylów przeglądarki */
* {
  margin: 0;
  padding: 0;
>>>>>>> 08a6d834bcda75e385bf2c331d49418b4153e917
}